html {
    background-color: rgb(104, 150, 202);
}



.apresentando-Lain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(117, 133, 141);
    padding: 40px;
    min-height: 100vh;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 2%;
}

.apresentando-Lain img {
    width: 350px;
    height: 700px;
    border: solid 5px white;
    border-radius: 2%;
}

.apresentando-Lain p {
    width: 50%;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.imagem-representacao {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    justify-items: center;
}

.imagem-representacao img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.retangulo-menor {
    height: 200px;
    object-fit: cover;
}

.quadrado {
    height: 300px;
}

.retangulo-maior {
    height: 400px;
}