html {
    background-color: rgb(14, 62, 194);
}

.Apresentando_Lain {
    background-color: rgb(68, 168, 214) ;
}

.Apresentando_Lain img {
    width: 350px;
    height: 700px;
    margin: 10px;
    border: solid 5px;
}